@using Surfs_Up.Repository


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Surfs up udlejning</title>
    <link href="~/styles.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <div class="header-bar">
        <a href="/home/index">
            <img src="~/images/logo_converted.png" class="Logo">
        </a>
        <nav> 
            @if (User.IsInRole("Admin"))
            {
                <a href="/Admin/index">Administrer bookings</a>
            }
            <a href="/catalog/overview">Katalog</a>
            @{
                var Cart = ShoppingCart.GetInstance().GetItemsOfType<ICartItem>();
                if (Cart.Any())
                {
                    <a href="/booking/index">Booking (@Cart.Count)</a>
                }
                else  {<a href = "/booking/index" >Booking</a>}
            }
           
            @await Html.PartialAsync("_LoginPartial")
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
    <footer>
        <a href="/contact">Kontakt</a>
        <p>&copy; 2024 Surfs Up Udlejning. All rights reserved.</p>
    </footer>
</html>