<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="widht=device-widht, initial-scale=1.0" />
    <title>Surfs up udlejning</title>
    <link href="~/styles.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>Surfs Up Udlejning</h1>
        <nav>
            <a href="/home/index">Hjem</a>
            <a href="/catalog/index">Katalog</a>
            <a href="/booking/index">Booking</a>
            <a href="/information/index">Information</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
    <footer>
        <a href="/contact">Kontakt</a>
        <p>&copy; 2024 Surfs Up Udlejning. All rights reserved.</p>
    </footer>
</html>