@inject IHttpContextAccessor HttpContextAccessor

@{
    UserService _userService = new UserService();
    string email = HttpContextAccessor.HttpContext.Session.GetString("Email");

    string name = null;
    if (!string.IsNullOrEmpty(email))
    {
        var user = await _userService.GetUser(email);
        name = user.Name;
    }
}

@if (!string.IsNullOrEmpty(name))
{
    <a>Goddag @name</a>
    <a asp-controller="Account" asp-action="LogOut">Log ud</a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Log in</a>
}