@inject IHttpContextAccessor HttpContextAccessor

@{
    UserService _userService = new UserService();
    string name = null;
   
    if (await _userService.IsLoggedIn())
    {
        var user = await _userService.GetUser();
        name = user.Name;
    }
}

@if (!string.IsNullOrEmpty(name))
{
    <a>Goddag @name</a>
    <a asp-controller="Account" asp-action="LogOut">Log ud</a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Log in</a>
}