@if(User.Identity.IsAuthenticated)
{
    <a>Goddag @User.Identity.Name</a> 
    <a asp-controller="Account" asp-action="LogOut">Log ud</a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Log in</a>
}