@if(Context.User.Identity.Name != null)
{
    <form asp-controller="Account" asp-action="LogOut" method="Post">
        <a>Goddag @Context.User.Identity.Name</a> 
        <a type="submit">Log ud</a>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Log in</a>
}