@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<head>
    <link href="~/css/account.css" rel="stylesheet" />
</head>

<main class="container">
    <div class="login-box">
        <div class="login-head">
            <h1>Login</h1>
        </div>
        <div>
            <form asp-action="Login">
                <div class="input-box">
                    <div asp-validation-summary="ModelOnly" class="label-danger"></div>
                    <label asp-for="Email" class="label"></label>
                    <br/>
                    <input asp-for="Email" class="input"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="Password" class="label"></label>
                    <br/>
                    <input asp-for="Password" class="input"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="button-box">
                    <input type="submit" value="Login"/>
                </div>
            </form>
            <div class="login-signup">
                <p>Har du ikke en bruger?</p>
                <a asp-action="Register">Tilmeld dig</a>
            </div>
        </div>
    </div>
</main>
        