@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<head>
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<main class="container">
    <div class="login-box">
        <div class="login-head">
            <h1>Registrer dig</h1>
        </div>
        <div>
            <form asp-action="Registration">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.Message != null)
                {
                    <div> class="form-group" style="color: green;">@ViewBag.Message</div>
                }
                <div class="input-box">
                    <label asp-for="Name" class="label">Navn</label>
                    <input asp-for="Name" class="input"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="Password" class="control-label"> Kodeord</label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="ConfirmPassword" class="control-label"> Bekræft Kodeord</label>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="button-box">
                    <input type="submit" value="Register"/>
                </div>
            </form>
            <div class="login-signup">
                <p>Har du allerede en bruger?</p>
                <a asp-action="Login">Gå til Login Side</a>
            </div>
        </div>
    </div>
</main>