@model List<CatalogItem>
<main>
    <section id="catalog">
    <h2>Vores udstyr</h2>
    <div class="catalog-grid">
        @foreach(var item in Model) 
        {
            <a asp-controller="Catalog" asp-action="Edit" asp-route-id="@item.CatalogItemId">
                <div class="catalog-card">
                    <img src="@Url.Content(item.ImagePath)" alt="Image" />
                    <div class="catalog-text-box">
                        <h4><b>@item.Name</b></h4>
                        <p>@item.Description</p>
                    </div>
                </div>
            </a>
        }
    </div>
    </section>
</main>
