@model List<CatalogItem>
<main>
    <section id="catalog">
    <h2>Vores udstyr</h2>

        @foreach(var item in Model) 
        {
            <div class="items">
                <h3><a asp-controller="Catalog" asp-action="Edit" asp-route-id="@item.CatalogItemId">@item.Name</a></h3>
                <p>Perfekt for hurtige vendinger og manøvrering. Udforsk vores sortiment af shortboards her</p>
            </div>
        }
    </section>
</main>
