<main>
    <section id="catalog">
    <h2>Vores udstyr</h2>
        <div class="item">
            <h3><a href="edit/1">Shortboards</a></h3>
            <p>Perfekt for hurtige vendinger og manøvrering. Udforsk vores sortiment af shortboards her</p>
        </div>
        <div class="item">
            <h3><a href="edit/2">Longboards</a></h3>
            <p>God til at cruise og for stabilitet. Udforsk vores sortiment af longboards her</p>
        </div>
        <div class="item">
            <h3><a href="edit/3">Våddragter</a></h3>
            <p>Hold dig varm i koldt vand med vores høj-kvalitet våddragter. Udforsk vores sortiment af våddragter her</p>
        </div>
    </section>
</main>
