<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surfs Up Udlejning</title>
    <link href="~/css/home.css" rel="stylesheet"/>
</head>

<body>
    <main>
        <div class="hero-bar">
            <img src="~/images/logo_converted.png" class="Logo">
            <nav>
                @if (User.IsInRole("Admin"))
                {
                    <a href="/Admin/index">Administrer bookings</a>
                }
                <a href="/catalog/overview">Katalog</a>
                <a href="/booking/index">Booking</a>
                @await Html.PartialAsync("_LoginPartial")
            </nav>
        </div>
        <div class="hero-image">
          
        </div>
        
        <section class="Content">
            <h2>Velkommen til Surfs Up!</h2>
            <p>Vi tilbyder en række forskellige surfboards og andet udstyr til dine eventyr på bølgerne! <br>Se gennem vores katalog og find det perfekte udstyr til dig.</p>
        </section>
    </main>
</body>
</html>
