@model List<CatalogItem>
<main class="container">
    <div class="booking-left">
        <h2>Book dit udstyr</h2>
        <form id="booking-form" asp-action="CreateBooking" method="post">
            <div class="element-left">
                <label for="name">Navn:</label>
                <br />
                <input type="text" id="booking-name" name="Customer.Name" required>
            </div>

            <div>
                <label for="email">E-mail:</label>
                <br />
                <input type="email" id="booking-email" name="Customer.Email" required>
            </div>
           <div>
                <div class="element-left">
                    <label for="start-date">Start Dato:</label>
                    <br />
                    <input type="date" id="booking-date" name="StartDate" required>
                </div>

                <div>
                    <label for="end-date">Slut Dato:</label>
                    <br />
                    <input type="date" id="booking-date" name="EndDate" required>
                </div>
           </div>
            
          
            <div>
                <label for="remark">Bemærkning:</label>
                <br />
                <input type="text" id="booking-remark" name="Remark">
            </div>
            

            <button type="submit" id="booking-submit">Book Nu</button>
        </form>
    </div>

    <div class="booking-right">
        <h1> Kurv </h1>


    </div>
</main>