@model Booking
<head>
    <link href="~/css/booking.css" rel="stylesheet" />
</head>


<main class="container">
    <div class="booking-left">
        <div class="booking-head">
            <h2>Book dit udstyr</h2>
        </div>
        <div class="booking-body">
            <form id="booking-form" asp-action="CreateBooking" method="post">
                <div>
                    <label for="name">Navn:</label>
                    <br />
                    <input type="text" id="booking-name" name="User.Name" asp-for="User.Name"  />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div>
                    <label for="email">E-mail:</label>
                    <br />
                    <input type="email" id="booking-email" name="User.Email" asp-for="User.Email"  />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div id="date-elem">
                    <div class="dateElement-left">
                        <label for="start-date">Start Dato:</label>
                        <br />
                        <input type="date" id="booking-date" name="StartDate" asp-for="StartDate"  />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="dateElement-left">
                        <label for="end-date">Slut Dato:</label>
                        <br />
                        <input type="date" id="booking-date" name="EndDate" asp-for="EndDate"  />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label for="remark">Bemærkning:</label>
                    <br />
                    <textarea id="booking-remark" name="Remark" asp-for="Remark"></textarea>
                </div>
                <div id="booking-submit">
                    @if (!Model.BookingItems.Any())
                    {
                        <button disabled style="background-color: rgb(98, 98, 98);">Book Nu</button>
                    }
                    else
                    {
                        <button id="active-btn" type="submit">Book Nu</button>
                    }
                </div>
            </form>
        </div>
    </div>

    <div class="booking-right">
        <div class="booking-head">
            <h2>Kurv</h2>
        </div>
        <div class="booking-body">
            @if (!Model.BookingItems.Any())
            {
                <h2 style="display: flex; justify-content: center;">Kurven er tom</h2>
            }
            @foreach (var item in Model.BookingItems)
            {
                <div class="booking-item">
                    <div class="booking-item-left">
                        <h1>@item.Name</h1>
                        <p>@item.Description</p>
                    </div>
                    <div class="booking-item-right">
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="id" value="@item.CatalogItemId" />
                            <button type="submit">
                                <img src="~/images/trash-can.png" alt="Remove from cart" />
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</main>