<main>
    <section id="Information">
        <h2>Inspiration</h2>
        <p>Her kan du finde links til forskellige emner om surfing i Danmark, uanset om du er nybegynder eller erfaren.</p>
        
        <div Class="Information_link1">
            <img src="~/images/SurfWalk2.jpg" id="img" alt="Pain" style="width: 100%;">
            <a id="link" href="edit/1"> <p class="LinkHover">Kom i gang som surfer</p></a>
        </div>

        <div Class="Information_link1">
            <img src="~/images/SurfDramatic.jpg" id="img" alt="Pain" style="width: 100%;">
            <a id="link" href="edit/2"><p class="LinkHover">Tips og tricks for øvede surfere</p></a>
        </div>

        <div Class="Information_link1">
            <img src="~/images/SurfStorm.jpg" id="img" alt="Pain" style="width: 100%;">
            <a id="link" href="edit/3"><p class="LinkHover">De bedste bølger i Danmark</p></a>
        </div>

        <div Class="Information_link1">
            <img src="~/images/SurfMaintenence.jpg" id="img" alt="Pain" style="width: 100%;">
            <a id="link" href="edit/4"><p class="LinkHover">Anbefalet udstyr</p></a>              
        </div>

        <div Class="Information_link1">
            <img src="~/images/SurfWalk.jpg" id="img" alt="Pain" style="width: 100%;">
            <a id="link" href="edit/5"><p class="LinkHover">Klitmøller</p></a>
        </div>

    </section>
</main>