<head>
    <link href="~/css/information.css" rel="stylesheet" />
</head>

<main>
    <section id="Information">
        <h2>Inspiration</h2>
        <p>Her kan du finde links til forskellige emner om surfing i Danmark, uanset om du er nybegynder eller erfaren.</p>
        
        <div Class="info-link">
            <img src="~/images/SurfWalk2.jpg" alt="Pain">
            <a href="edit/1"> <p class="LinkHover">Kom i gang som surfer</p></a>
        </div>

        <div Class="info-link">
            <img src="~/images/SurfDramatic.jpg" alt="Pain">
            <a href="edit/2"><p class="LinkHover">Tips og tricks for øvede surfere</p></a>
        </div>

        <div Class="info-link">
            <img src="~/images/SurfStorm.jpg" alt="Pain">
            <a href="edit/3"><p class="LinkHover">De bedste bølger i Danmark</p></a>
        </div>

        <div Class="info-link">
            <img src="~/images/SurfMaintenence.jpg" alt="Pain">
            <a href="edit/4"><p class="LinkHover">Anbefalet udstyr</p></a>              
        </div>

        <div Class="info-link">
            <img src="~/images/SurfWalk.jpg" alt="Pain">
            <a href="edit/5"><p class="LinkHover">Klitmøller</p></a>
        </div>

    </section>
</main>